{% extends 'dummy.html' %}

{% block title %}
    <title>reset password page</title>
{% endblock %}

{% block body_block %}
<center>
     <h1>display reset</h1>
     <form method="POST">
        {% csrf_token %}
            <label for="UN">username</label>
            <input type="text" name="UN" id="UN"><br>
            <label for="PW">password</label>
            <input type="password" name="PW" id="PW"><br>
            <input type="submit" value="reset password">

    </form>
    {% endblock %}
</center>